{% extends 'back/base.html' %}
{% load static %}

{% block content %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
              <div class="col-lg-15 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Tabel Artikel API</h4>
                    <a class="btn btn-success" href="{% url 'sinkron_berita' %}">+ sinkron berita</a>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Author</th>
                            <th scope="col">Time</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for b in berita  %}
							<tr>
								<th scope="row">{{ forloop.counter }}</th>
								<td>{{ b.title }}</td>
								<td>{{ b.author }}</td>
								<td>
									{% if b.time %}
										{{ b.time }}
									{% else %}
										-
									{% endif %}
								</td>
								<td>
									<a class="btn btn-danger" href="{% url 'berita_detil' b.title %}"><i class="mdi mdi-file-document-box"></i></a>
								</td>
								
							</tr>
							{% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
        </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    {% endblock content %}