{% extends 'back/base.html' %}
{% load static %}

{% block content %}
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="page-header">
              <div class="col-lg-15 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Tabel Users</h4>
                    <a class="btn btn-outline-warning" href="{% url 'registrasi_add' %}"><i class="mdi mdi-bookmark-plus-outline">Tambah User</i></a>
                    <a class="btn btn-outline-danger" href="{% url 'logout' %}"><i class="mdi mdi-logout">Logout</i></a>
                    </p>
                    <div class="table-responsive">
                      <table class="table table-dark">
                        <thead>
                          <tr>
                            <th> # </th>
                            <th> Username </th>
                            <th> Email Address </th>
                            <th> First Name </th>
                            <th> Last Name </th>
                            <th> Staff Status </th>
                            <th> Action </th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for l in list_users  %}
                          <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ l.username }}</td>
                            <td>{{ l.email }}</td>
                            <td>{{ l.first_name }}</td>
                            <td>{{ l.last_name }}</td>
                            <td>{{ l.is_staff }}</td>
                            <td><a class="btn btn-warning" href="{% url 'users_update' l.id %}"><i class="mdi mdi-lead-pencil"></i></a>
                              <a class="btn btn-primary" href="{% url 'users_view' l.id %}"><i class="mdi mdi-file-document-box"></i></a>
                                <a onclick="return confirm('delete user ?')" class="btn btn-danger" href="{% url 'users_delete' l.id %}"><i class="mdi mdi-delete"></i></a></td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->

          <!-- partial -->
        </div>
        <!-- main-panel ends -->
        </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    {% endblock content %}